/*
body {
    background-image: url(../../images/maveldcimage.jpg);
    background-position: center;
}
*/
.slider .btn {
  margin-top: 20px;
}

#comic-div {
  margin-top: 10px;
  overflow: auto;
  max-width: 900px;
  max-height: 500px;

}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

#comic-div {
    height: 400px;
    width: 500px;
    margin-left: 33.33%;
    overflow: auto ;
}

h5 {
    color: black;
}

.buy-book {
    background-color: coral;
    border-style: solid;
    border-color: black;
    height: 25px;
    padding: 3px;
    color: white;
}

.comic-info {
    background-color: coral;
    border-style: solid;
    border-color: black;
    height: 25px;
    padding: 3px;
    color: white;
}

.issues-number {
    color: black;
}